*{
    padding:0px;
    border:0px;
    margin:0px auto;
}
body{
    text-align: center;
}
/*大标题*/
div.headone{
    height:60px;
    width: 100%;
    line-height:60px;
    font-size:2em;
    font-weight:900;
    color:#434343;
    background: url(../img/pub-bg.jpg);
}
/*logo和搜索栏*/
div.headtwo{
    height:60px;
    width: 100%;
    color:#434343;
    background:#f5f5f5;
}
div.headtwo>.plogo{/*logo*/
    float: left;
}
div.headtwo>.check{/*下拉菜单*/
    float: left;
    margin-top:38px;
    margin-left:-1%;
    background:#f5f5f5;
    color:#434343;
    font-size: 1em;
}
div.headtwo>input{/*输入框*/
    display:inline-block;
    height:38px;
    width:26%;
    margin-top:10px;
    background:#eeeeee;
    border:1px #cacaca solid;
    border-radius:13px;
    background: url(../img/pub-search.png) no-repeat right;
}
div.headtwo>.pme{/*个人中心*/
    float:right;
    margin-right:3%;
}
/*导航*/
div.nav{
    height:60px;
    width: 100%;
    line-height:60px;
    font-size:1.2em;
    font-weight:900;
    color:#434343;
    background:#dfdfdf;
}
div.nav>a>.phome{/*返回主页*/
    float:left;
    margin-left:3%;
}
div.nav>.pnav{/*菜单*/

    float:right;
    margin-right:3%;
}
div.nav>.navul{
    height:auto;
    font-size:1em;
    width:100%;
    background:#f5f5f5;
    overflow: hidden;
    float: left;
    display: none;
}
div.nav>.navul>li{
    width:32.6%;
    list-style-type: none;
    float:left;
    line-height:30px;
    font-size:0.8em;
    background:#cbd0d3;
    border:1px #8a8989 solid;
}
div.nav>.navul>li>a{
    text-decoration: none;
    line-height:30px;
    font-size:1em;
    color:#575757;
}  
/*版权*/
div.footer{
    height:60px;
    width: 100%;
    line-height:30px;
    font-size:1em;
    color:#858585;
    background:#e5e5e5;
}
/*内容部分*/
div.contents{
	height:500px;
    width:100%;
    background:#f5f5f5;
}
.nav a{
    text-decoration: none;
    color: #8a8989;
    font-size: 1.6rem;
}