.contents{
	position: relative;
	width: 100%;
	height: auto;
	overflow: auto;
}
#spp{
	display:block;
    font-size:1.1em;
    text-align: justify;
    margin-top:20px;
	height:40px;
	line-height:40px;
	width:100%;
	color:#000;
	/* background: #f0f; */
}
#spp1{
	display:block;
    font-size:1.1em;
    text-align: justify;
    margin-top:20px;
	height:80px;
	line-height:40px;
	width:100%;
	color:#000;
	/* background: #f0f; */
}
#text{
	width:100%;
	height:30px;
	margin-top: 25px;
	margin-left:10%;
	border:1px #a1a0a0 solid;
}
#text1{
	width:100%;
	height:80px;
	margin-top: 30px;
	margin-left:10%;
	border:1px #a1a0a0 solid;
}
#sub{
	height:30px;
	width:200%;
	margin-top:40px;
	margin-left:50%;
	border-radius: 8px;
}
#p1{
	display:block;
	margin-top:-18%;
	margin-left:50%;
	font-size:0.9em;
	color:rgb(17, 116, 209);
}

