.aone>div{
	display: inline-block;
	font-size: 1.2em;
	line-height: 30px;
	color: #666;
	vertical-align: middle;
	margin-top: 20px;
	margin-right: 10px;
}
.aone>div>select{
	width: 200px;
	height:30px;
	margin: 0px;
	background: #fff;
}
.aone>div>textarea{
	background: #fff;
	width: 200px;
	height: 80px;
	margin: 0px;
}
.contents>form>input{
	width: 250px;
	height: 40px;
	background: #CACACA;
	margin-top: 10px;
	color: #fff;
	font-size: 1.2em;
}
